.search-box .btn-light {
  border: 1px solid #ced4da;
}

#navBarSearchForm input[type=text]{width:800px !important;}

#brand { color:green;font-size:170% ;}

a{ text-decoration: none;font-size:100%;font-weight: bold;}


.navbar-nav > li{
  padding-left:2px;
  padding-right:2px;
  margin-left:12px;
  margin-right:12px;
}


.navbar{
  height: 100px;
}

.btn {
  border: 2px solid rgb(181, 175, 175);
  background-color: white;
  color: black;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
}

.title {
 text-align: center;
}