.search-box .btn-light {
  border: 1px solid #ced4da;
}

#navBarSearchForm input[type=text]{width:450px !important;}

#admin-manage-buyer input[type=text]{width:600px !important;}

#brand { color:green;font-size:170% ;}

a{ text-decoration: none;font-size:100%;font-weight: bold;}


.navbar-nav > li{
  padding-left:2px;
  padding-right:2px;
  margin-left:12px;
  margin-right:12px;
}


.navbar{
  height: 100px;
}

.nav-btn{
  border: 2px solid rgb(181, 175, 175);
  background-color: white;
  color: black;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
}

.container {
  padding: 20px;
}

.title {
 text-align: center
}

.form-signup{
  width: 500px;
  height: 620px;
  border: 1px solid black;
  padding: 40px;
  margin: 20px auto;
}

.form-signin{
  width: 500px;
  height: 300px;
  border: 1px solid black;
  padding: 40px;
  margin: 20px auto;
}

.buyerlist-wrapper{
  display:flex;
  flex-direction: column;
}

.sellerSignup {
  width: 500px;
  height: 810px;
  border: 1px solid black;
  padding: 40px;
  margin: 20px auto;
}

.yourAccount {
  border: solid #ccc 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px 2px #c4c4c4;
  box-shadow: 1px 1px 4px 2px #c4c4c4;
}
